*{
    margin: 0;
    box-sizing: border-box;
}
body{
}
.header{
    height: 200px;
    font-family: 'Mulish', sans-serif;
}
.container{
    max-width: 1200px;
    margin: 0 auto;
}
.header__up{
    height: 120px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header__logo{
    font-family: 'Luckiest Guy', cursive;
    font-size: 24px;
}
.header__logo span{
    color: red;
}
.header__search{
    width: 285px;
    height: 40px;
    border: none;
    background-color:#f3f3f3;
    border-radius: 5px;
    padding-left: 20px;
    outline: none;
    position: relative;
}
.header__button{
    width: 65px;
    height: 40px;
    background-color: #EC1F46;
    border: none;
    border-radius:0 5px 5px 0;
    margin-right: 10px;
    position: absolute; 
}
.icon{
    fill: white;
    width: 16px;
    height: 16px;
}
.profile__img{
    position: relative;
    padding-right: 15px;
}
.header__profile{
    display: flex;
    align-items: center;
}
.name{
}
.header_down{
    background-color: #0A223D;
    height: 80px;
}
.header_links{
    display: flex;
    justify-content: space-between;
    padding-top: 30px;
}
.header__link{
    text-decoration: none;
    text-transform: uppercase;
    color: white;
}